    /* GLOBAL */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
    }
    
    html{
        font-size: 16px;
        scroll-behavior: smooth;
    }
    
    
    body{
        font-family: 'Montserrat', sans-serif;
        color: #212529;
        background-color: white;
        letter-spacing: 1px;
    }
    
    button{
        color: white;
        background-color: #ff0e83;
        border: 1px solid white;
        border-radius: 5px;
        padding: 0.8rem 2rem;
        font-size: 0.875rem;
        cursor: pointer;
        letter-spacing: 1px;
        transition: all .5s;
    }
    button:hover{
        color: black;
        background-color: white;
        border: 1px solid #ff0e83;
    }
    h2{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3rem;
        text-align: center;
        letter-spacing: 2px;
    }
    
    a{
        text-decoration: none;
        color: black;
    }